.note {
    width: 250px;
    height: 150px;
    border-radius: 15px;
    border-color: white;
    border-width: 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    margin: 10px;
    opacity: 0.315;
    background-color: white;
}

.noteHeader {
    background-color: red;
    box-sizing: border-box;
}

.noteBody {
    background-color: green;
}

.noteOptions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}